<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SetmealMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Setmeal">
    <id column="smId" jdbcType="INTEGER" property="smid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="price" jdbcType="INTEGER" property="price" />
  </resultMap>
  <sql id="Base_Column_List">
    smId, name, type, price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from setmeal
    where smId = #{smid,jdbcType=INTEGER}
  </select>

  <select id="getBysexSetmel" parameterType="java.lang.Integer" resultType="com.example.demo.pojo.Setmeal">
    select smid, name, type, price from setmeal where type = #{sex}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from setmeal
    where smId = #{smid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Setmeal">
    insert into setmeal (smId, name, type, 
      price)
    values (#{smid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{price,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Setmeal">
    insert into setmeal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="smid != null">
        smId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="smid != null">
        #{smid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Setmeal">
    update setmeal
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
    </set>
    where smId = #{smid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Setmeal">
    update setmeal
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER}
    where smId = #{smid,jdbcType=INTEGER}
  </update>
</mapper>